{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Forge Fitness</title>
        <script src="{% static 'application/js/jquery.min.js' %}"></script>
        <link href="{% static 'application/font-awesome/css/all.css' %}" rel="stylesheet" />

        <link rel="stylesheet" href="{% static 'application/css/base.css' %}">
        <script src="{% static 'application/js/base.js' %}"></script>

        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        {% block extra_head %}

        {% endblock %}

    </head>
    <body>
        <div id="alert-messages">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} alert-message"{% endif %}>
                    <span>{{ message }}</span>
                    <i id="" class="fa-solid fa-x close-message-btn"></i>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="body">
            {% if user.is_authenticated %}
                {% include 'application/menu_bar.html' %}
            {% endif %}
            <div id="content">
                <div style="margin-bottom: 25px;">
                    {% include 'application/theme_switcher.html' %}
                </div>
                {% block content %}
                <div>Place your content here</div>
                {% endblock %}
            </div>
        </div>
    </body>
</html>