{% extends "application/base.html" %}
{% load static %}

{% block content %}
<link href="{% static 'application/css/routine.css' %}" rel="stylesheet" />
<div class="center-content">
    <div class="content-container">
        <div class="row">
            <div class="col-100 center-content">
                <h1 class="">My Routines</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-100 routine-card-container">
                {% include "application/routine_cards.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}