{% extends "application/base.html" %}
{% load static %}

{% block content %}

<link href="{% static 'application/css/routine.css' %}" rel="stylesheet" />
<script src="{% static 'application/js/progress_bar.js' %}" type="module"></script>
<script src="{% static 'application/js/routine.js' %}" type="module"></script>

<script>
    window.routine_uuid = "{{ routine.uuid }}";
    window.routine_type = "{{ routine.routine_type }}";
</script>

<div class="">
    <div class="row">
        <div class="col-100 center-content">
            <div id="timer" class="rest">
                <div id="current-exercise">
                    <span id="current-time"></span>
                    <span id="exercise"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row center-content">
        <div id="routine-tracker" class="col-50 routine-col-max">
            <div class="row">
                {% include 'application/components/progress-bar.html' with div_id='routine-progress' width=0 %}
            </div>
            <div id="start-exercise" class="row">
                <button id="start-exercise-btn" class="btn btn-success">Start!</button>
            </div>
            <div id="exercise-tracker" style="display: none">
                <div id="strength-routine" style="{% if routine.routine_type == 'Cardio' %}display:none;{% endif %}">
                    <div class="routine-info-group">
                        <p class="routine-label">Exercise:</p><p id="strength-exercise-name">Example</p>
                    </div>
                    <div class="routine-info-group">
                        <p class="routine-label">Reps:</p><p id="strength-exercise-reps">10</p>
                    </div>
                    <div class="routine-info-group">
                        <p class="routine-label">Sets:</p><p id="strength-exercise-sets">3</p>
                    </div>
                </div>
                <div id="cardio-routine" style="{% if routine.routine_type != 'Cardio' %}display:none;{% endif %} text-align: center">
                    <h4>Up Next:</h4>
                    <h4 id="next-exercise">Example</h4>
                </div>
            </div>
        </div>
    </div>
    <div id="exercise-controls" class="row center-content" style="display: none;">
        <div class="col-50 routine-col-max">
            <div class="row" style="{% if routine.routine_type == 'Cardio' %}display:none;{% endif %}">
                    <button id="next-strength" class="btn btn-primary">Next</button>
                    <button class="btn btn-danger">Quit</button>
            </div>
            <div class="row" style="{% if routine.routine_type != 'Cardio' %}display:none;{% endif %}">
                <button class="btn btn-primary">+ 20 Seconds Rest</button>
                <button class="btn btn-danger">Quit</button>
            </div>
        </div>
    </div>
    <div id="complete-exercise" class="row center-content" style="display: none;">
        <div class="col-50 routine-col-max">
            <div class="row">
                <button class="btn btn-success">Complete workout!</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}