/* Root level Styles */
:root {
    --base: #ffffff;
    --secondary: #E0E0E0;
    --tertiary: #C6C6C6;
    --text: black;

    --primary-option: #394867;
    --secondary-option: #6C767D;
    --danger-option: #EC625F;
    --danger-option-hover: #fc7d7b;
}

:root:has(#theme [value="light"]:checked) {
    color-scheme: light;
    --base: #ffffff;
    --secondary: #E0E0E0;
    --tertiary: #C6C6C6;
    --text: black;
}

:root:has(#theme [value="dark"]:checked) {
    color-scheme: dark;
    --base: #313131;
    --secondary: #414141;
    --tertiary: #525252;
    --text: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --base: #313131;
        --secondary: #414141;
        --tertiary: #525252;
        --text: white;
    }
}

/* HTML Elements */

body {
    color: var(--text);
    background-color: var(--base);
    display: flex;
    font-size: 1.5rem;
    height: 100%;
    margin: 0;
}

html {
    color-scheme: dark light;
    height: 100%;
    margin: 0;
}

/* Classes */

.logo-container{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

/* ID's */

#content {
    width: 100%;
    padding: 30px 20px;
}
