.content-container {
    width: 80%;
}

.routine-card-container {
    display: flex;
    flex-wrap: wrap;
}

.routine-card{
    width: 30%;
    min-width: 30%;
    min-height: 300px;
}

.routine-card h5{
    font-size: 1.75rem;
    margin: 5px 0;
}

.routine-card p, .routine-card span {
    font-size: 1.1rem;
}

.routine-edit-button{
    color: var(--secondary-option);
    margin: 0 5px
}

.routine-edit-button:hover{
    color: var(--secondary-option-hover);
}

.routine-header {
    display: flex;
}

.routine-estimated-time {
    margin-top: 10px;
}

.routine-title{
    width: 75%;
}